*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background-color: #000;
 
  }
  ::selection{
    color: #000;
    background: #fff;
  }
  nav{
    position: fixed;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
  }
  nav .menu{
    max-width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: transparent;
  }
  .menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  .menu ul{
    display: inline-flex;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background: #fff;
    color: black;
  }
  .img{
    background: black;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: left;
  }
  .center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    
  }
  .center .sub_title{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
  }
  .center .btns{
    margin-top: 20px;
  }
  .center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  .center .btns button:first-child{
    color: #fff;
    background: none;
  }
  .btns button:first-child:hover{
    background: white;
    color: black;
  }
  .center .btns button:last-child{
    background: white;
    color: black;
  }
  .styled-table {
      width: 100vw;
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
      background-color: white;
      color: #ffffff;
      text-align: left;
  }
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
      color: white;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }
  
  
  .styled-table tbody tr.active-row {
      font-weight: bold;
      color: white;
  }
  .green{
      color: green;
  }
  .red{
      color: red;
  }.buy{
      color: white;
  }
  .container, .buttn{
      color: white;
      text-align: center;
  }
  